@charset "UTF8";

body {

    background-color: #dddddd;
    color: #0f0f0f;
}

div#falec {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}

header#cabecalho img#icone {
    position: absolute;
    left: 900px;
    top: 70px;
}

header#cabecalho {
    border-bottom: 1px #60606060 solid;
    height: 150px;
    background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 80px;
}

header#cabecalho h1 {
    font-family: Arial, sans-serif;
    font-size: 30pt;
    color: #60606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #88888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

/*formatacao do menu*/
nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    left: 600px;

}

/*para deixar a lista um do lado do outro*/
nav#menu li {
    position: relative;
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

/*efeito css3 somenu principal*/
nav#menu li:hover {
    background-color: #60606060;
}

/*ocultando o menu principal*/
nav#menu h1 {
    display: none;
}

/*config para tirar o sublinhado e mudar a cor das letras*/
nav#menu a {
    color: #000000;
    text-decoration: none;
}

section#corpofl {
    display: block;
    width: 700px;
    float: left;
    padding: 25px;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}