@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}

/* Oculta ambas as barras de rolagem */
iframe#frame-spec {

    width: 380px;
    height: 280px;
    border: none;
    overflow: hidden;

}

/* Esconde a barra de rolagem, mas mantém a funcionalidade de rolagem */
iframe#frame-spec::-webkit-scrollbar {

    display: none;

}